featuretools==1.8.0
Flask==2.0.3
joblib==1.1.0
keras==2.8.0
librosa==0.9.1
midi2audio==0.1.1
mido==1.2.10
music21==7.1.0
numpy==1.22.3
pandas==1.4.2
piano_transcription_inference==0.0.5
pydub==0.25.1
scikit_learn==1.0.2
tensorflow
youtube_dl==2021.12.17
